[elasticsearch-{{ elastic_repo_version  }}]
name=Elasticsearch repository for {{ elastic_repo_version }} packages
baseurl= {{ elk_repo_url }}
gpgcheck=1
gpgkey={{ yum_repo_gpgkey }}
enabled=1
autorefresh=1
type=rpm-md
